<article class="post-listing pointer" data-post-id="{{dataValues.id}}">
    <h5 class="date">{{dataValues.createdAt}}</h5>
    <h2>{{dataValues.title}}</h2>
        <h4>
        by: {{user.dataValues.user_name}}

        </h4>
    <p>
    {{dataValues.text}}
    </p>
    <h5 class="comment-number">Comments({{comments.length}})</h5>
</article>