<article class="post-listing" data-post-id="{{dataValues.id}}">
    <h2>{{dataValues.title}}</h2>
    <h5>{{dataValues.createdAt}}</h5>
        <h5>
        by: {{user.dataValues.user_name}}

        </h5>
    <p>
    {{dataValues.text}}
    </p>
</article>