<main>
<article class="post-listing" data-post-id="{{postDetails.dataValues.id}}">
    <div class="alter">
        <span id="edit" data-post-id="{{postDetails.dataValues.id}}">edit</span><span id="delete" data-post-id="{{postDetails.dataValues.id}}">delete</span>
    </div>
    <h5 class="date">{{postDetails.dataValues.createdAt}}</h5>
    <h2>{{postDetails.dataValues.title}}</h2>
        <h4>
        by: {{postDetails.user.dataValues.user_name}}

        </h4>
    <p>
    {{postDetails.dataValues.text}}
    </p>
    <h5 class="comment-number">Comments({{comments.length}})</h5>
</article>
{{!-- <h2>
{{postDetails.dataValues.title}}
</h2>
{{postDetails.dataValues.text}} --}}

<section class="comments">
{{#each comments as |comment|}}
    <article>
    <h5 class="date left">{{comment.dataValues.createdAt}}</h5>
    <h3>{{comment.user.dataValues.user_name}} comments:</h3>
    <p>{{comment.dataValues.text}}</p>
    </article>
{{/each}}
</section>
{{#if loggedIn}}
<form id="add-comment-form">
    <textarea name="comment" id="new-comment"></textarea>
    <input id="submit" type="submit">
</form>
{{else}}
<button class="loginBtn">
Log-in or Register to Make Comments
</button>
{{/if}}

</main>
<script src="../js/innernav.js"></script>
<script src="../js/add-comment.js"></script>
<script src="../js/reformatDates.js"></script>
<script src="../js/edit.js"></script>